# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import google_api_key

# Configure gmaps
gmaps.configure(api_key=google_api_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [14]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,-33.6500,115.3333,82.42,34,72,8.50
1,1,Uni,RU,57.7535,51.4923,15.58,82,7,0.43
2,2,Lumeje,AO,-11.5500,20.7833,80.74,55,20,1.25
3,3,Fuerte Olimpo,PY,-21.0415,-57.8738,68.99,96,100,6.46
4,4,Bredasdorp,ZA,-34.5322,20.0403,72.23,42,55,5.48

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [5]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [15]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function 
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,-33.6500,115.3333,82.42,34,72,8.50
2,2,Lumeje,AO,-11.5500,20.7833,80.74,55,20,1.25
4,4,Bredasdorp,ZA,-34.5322,20.0403,72.23,42,55,5.48
8,8,Saint-Georges,GD,12.0564,-61.7485,78.94,80,43,17.20
12,12,Port Elizabeth,ZA,-33.9180,25.5701,70.32,66,100,11.01
13,13,Cape Town,ZA,-33.9258,18.4232,73.11,63,91,5.01
14,14,Sao Joao Da Barra,BR,-21.6403,-41.0511,71.89,88,72,9.15
15,15,Dingle,PH,10.9995,122.6711,84.09,78,90,7.63
20,20,Meulaboh,ID,4.1363,96.1285,81.99,74,100,6.58
23,23,Harper,LR,4.3750,-7.7169,79.21,83,78,7.25

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [23]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_df = preferred_cities_df.dropna()

# Display sample data
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,-33.6500,115.3333,82.42,34,72,8.50
2,2,Lumeje,AO,-11.5500,20.7833,80.74,55,20,1.25
4,4,Bredasdorp,ZA,-34.5322,20.0403,72.23,42,55,5.48
8,8,Saint-Georges,GD,12.0564,-61.7485,78.94,80,43,17.20
12,12,Port Elizabeth,ZA,-33.9180,25.5701,70.32,66,100,11.01
...,...,...,...,...,...,...,...,...,...
252,252,Garissa,KE,-0.4536,39.6401,86.11,57,54,6.20
255,255,Namibe,AO,-15.1961,12.1522,79.16,67,83,5.61
256,256,Port-Gentil,GA,-0.7193,8.7815,82.36,83,40,9.22
260,260,Bengkulu,ID,-3.8004,102.2655,82.24,75,6,12.10
261,261,Tonantins,BR,-2.8731,-67.8022,73.44,98,100,1.83

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [29]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_df[["City", "Country", "Max Temp", "Humidity","Cloudiness", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Humidity,Cloudiness,Lat,Lng
0,Busselton,AU,82.42,34,72,-33.6500,115.3333
2,Lumeje,AO,80.74,55,20,-11.5500,20.7833
4,Bredasdorp,ZA,72.23,42,55,-34.5322,20.0403
8,Saint-Georges,GD,78.94,80,43,12.0564,-61.7485
12,Port Elizabeth,ZA,70.32,66,100,-33.9180,25.5701
13,Cape Town,ZA,73.11,63,91,-33.9258,18.4232
14,Sao Joao Da Barra,BR,71.89,88,72,-21.6403,-41.0511
15,Dingle,PH,84.09,78,90,10.9995,122.6711
20,Meulaboh,ID,81.99,74,100,4.1363,96.1285
23,Harper,LR,79.21,83,78,4.3750,-7.7169

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [28]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Humidity,Cloudiness,Lat,Lng,Hotel Name
0,Busselton,AU,82.42,34,72,-33.6500,115.3333,
2,Lumeje,AO,80.74,55,20,-11.5500,20.7833,
4,Bredasdorp,ZA,72.23,42,55,-34.5322,20.0403,
8,Saint-Georges,GD,78.94,80,43,12.0564,-61.7485,
12,Port Elizabeth,ZA,70.32,66,100,-33.9180,25.5701,
13,Cape Town,ZA,73.11,63,91,-33.9258,18.4232,
14,Sao Joao Da Barra,BR,71.89,88,72,-21.6403,-41.0511,
15,Dingle,PH,84.09,78,90,10.9995,122.6711,
20,Meulaboh,ID,81.99,74,100,4.1363,96.1285,
23,Harper,LR,79.21,83,78,4.3750,-7.7169,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [30]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": google_api_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [32]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels =requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Humidity,Cloudiness,Lat,Lng,Hotel Name
0,Busselton,AU,82.42,34,72,-33.6500,115.3333,Observatory Guest House
2,Lumeje,AO,80.74,55,20,-11.5500,20.7833,NaN
4,Bredasdorp,ZA,72.23,42,55,-34.5322,20.0403,Bredasdorp Country Manor
8,Saint-Georges,GD,78.94,80,43,12.0564,-61.7485,Radisson Grenada Beach Resort
12,Port Elizabeth,ZA,70.32,66,100,-33.9180,25.5701,39 On Nile Guest House
13,Cape Town,ZA,73.11,63,91,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
14,Sao Joao Da Barra,BR,71.89,88,72,-21.6403,-41.0511,Pousada Porto De Canoas
15,Dingle,PH,84.09,78,90,10.9995,122.6711,SEGAYA PROPERTY
20,Meulaboh,ID,81.99,74,100,4.1363,96.1285,Kost Pria
23,Harper,LR,79.21,83,78,4.3750,-7.7169,Screensaver

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [75]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!= "")]

# Display sample data
clean_hotel_df.head(10)
clean_hotel_df = clean_hotel_df.dropna()

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [81]:
# In case of an empty DataFrame, load the sample data provided
#clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
clean_hotel_df.head(10)

,City,Country,Max Temp,Humidity,Cloudiness,Lat,Lng,Hotel Name
0,Busselton,AU,82.42,34,72,-33.6500,115.3333,Observatory Guest House
4,Bredasdorp,ZA,72.23,42,55,-34.5322,20.0403,Bredasdorp Country Manor
8,Saint-Georges,GD,78.94,80,43,12.0564,-61.7485,Radisson Grenada Beach Resort
12,Port Elizabeth,ZA,70.32,66,100,-33.9180,25.5701,39 On Nile Guest House
13,Cape Town,ZA,73.11,63,91,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
14,Sao Joao Da Barra,BR,71.89,88,72,-21.6403,-41.0511,Pousada Porto De Canoas
15,Dingle,PH,84.09,78,90,10.9995,122.6711,SEGAYA PROPERTY
20,Meulaboh,ID,81.99,74,100,4.1363,96.1285,Kost Pria
23,Harper,LR,79.21,83,78,4.3750,-7.7169,Screensaver
24,Quelimane,MZ,87.75,55,40,-17.8786,36.8883,Hotel Flamingo

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [83]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [96]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [97]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Observatory Guest House</dd>\n<dt>City</dt><dd>Busselton</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>82.42 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bredasdorp Country Manor</dd>\n<dt>City</dt><dd>Bredasdorp</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>72.23 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Radisson Grenada Beach Resort</dd>\n<dt>City</dt><dd>Saint-Georges</dd>\n<dt>Country</dt><dd>GD</dd>\n<dt>Current Weather</dt><dd>78.94 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>39 On Nile Guest House</dd>\n<dt>City</dt><dd>Port Elizabeth</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>70.32 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Radisson Blu Hotel Waterfront, Cape Town</dd>\n<dt>City</dt><dd>Cape Town</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>73.11 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Porto De Canoas</dd>\n<dt>City</dt><dd>Sao Joao Da Barra</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>71.89 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>SEGAYA PROPERTY</dd>\n<dt>City</dt><dd>Dingle</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>84.09 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kost Pria</dd>\n<dt>City</dt><dd>Meulaboh</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>81.99 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Screensaver</dd>\n<dt>City</dt><dd>Harper</dd>\n<dt>Country</dt><dd>LR</dd>\n<dt>Current Weather</dt><dd>79.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Flamingo</dd>\n<dt>City</dt><dd>Quelimane</dd>\n<dt>Country</dt><dd>MZ</dd>\n<dt>Current Weather</dt><dd>87.75 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [98]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -33.6500  115.3333
4  -34.5322   20.0403
8   12.0564  -61.7485
12 -33.9180   25.5701
13 -33.9258   18.4232
14 -21.6403  -41.0511
15  10.9995  122.6711
20   4.1363   96.1285
23   4.3750   -7.7169
24 -17.8786   36.8883

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [99]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))